{#
  Activity hashtag rail for detail pages.

  Context: activity_id, top_tags, strings.
#}
<div
    id="activity-tags-{{ activity_id }}"
    class="flex flex-col gap-3"
    data-tags-section
>
    {% include "components/_top_tags_content.html.jinja2" with context %}
</div>
