{% extends "web/base.html.jinja2" %}

{% block title %}{{ strings.LICENSES_PAGE_TITLE }} · {{ strings.APP_NAME }}{% endblock %}

{% block content %}
{% include "web/legal/_licenses_content.html" %}
{% endblock %}
