{% extends "web/base.html.jinja2" %}

{% block title %}{{ strings.PRIVACY_PAGE_TITLE }} · {{ strings.APP_NAME }}{% endblock %}

{% block content %}
{% include "web/legal/_privacy_content.html" %}
{% endblock %}
