{% extends "base.html.jinja2" %}

{% block content %}
<section>
    <h1>{{ title | default("Mushin") }}</h1>
    <p>A general personal progress tracker. Scaffold is live.</p>
</section>
{% endblock %}
