{% extends "web/base.html.jinja2" %}

{% block title %}{{ strings.TERMS_PAGE_TITLE }} · {{ strings.APP_NAME }}{% endblock %}

{% block content %}
{% include "web/_terms_content.html" %}
{% endblock %}
