<a
    href="https://www.producthunt.com/products/mushin-4?embed=true&amp;utm_source=badge-featured&amp;utm_medium=badge&amp;utm_campaign=badge-mushin-4"
    target="_blank"
    rel="noopener noreferrer"
    class="opacity-50 transition hover:opacity-100 focus-visible:outline-offset-2"
    aria-label="{{ strings.PRODUCT_HUNT_BADGE_LABEL }}"
>
    <img
        alt="{{ strings.PRODUCT_HUNT_BADGE_ALT }}"
        width="256"
        height="55"
        src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=1188238&amp;theme=neutral&amp;t=1783232369687"
    >
</a>
<a
    href="https://launchbuff.com/products/mushin-c795qg"
    target="_blank"
    rel="noopener noreferrer"
    title="{{ strings.LAUNCHBUFF_BADGE_LABEL }}"
    class="opacity-50 transition hover:opacity-100 focus-visible:outline-offset-2"
>
    <img
        src="https://launchbuff.com/badge-featured-light.svg"
        alt="{{ strings.LAUNCHBUFF_BADGE_ALT }}"
        width="256"
        height="80"
        class="theme-light"
    >
    <img
        src="https://launchbuff.com/badge-featured-dark.svg"
        alt="{{ strings.LAUNCHBUFF_BADGE_ALT }}"
        width="256"
        height="80"
        class="theme-dark"
    >
</a>
